body
{
	background-color: black;
	opacity: 0.9;
	margin: 0;
	color:whitesmoke;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

/* Nawigacja*/

#nav
{
	opacity: 0.9;
	border-bottom: 1px gray solid;
	width: 100%;
	font-weight: 900;
	padding: 0;
	padding-top: 2px;
	position: fixed;
	z-index:100;
	padding-left: 28%;
	height: 28px;
}

ol
{

	list-style-type:none;
	margin: 0;
	text-shadow:
			1px 1px 0 white,
			1px -1px 0 white,
			-1px 1px 0 white,
			-1px -1px 0 white;

}

ol>li
{
	float:left;
	letter-spacing: 1px;
	text-align:center;
	padding: 3px 1.5%;
}

ol>li>ul
{
	list-style-type: none;
	padding: 1% 0;
	display:none;
	/*background-color: #000c39;*/
	opacity: 0.85;
	position: absolute;
	z-index:100;
	margin-left: -2%;
	width: 13%;
	min-width: 150px;
}

ol>li>a
{
	color: #000030;
	text-decoration: none;
}

ol>li>a:hover
{
	text-decoration: underline;
}


ol>li>ul>li
{
	padding: 13px;
}


ol>li>ul>li>a
{
	opacity:1;
	color: #000030;
	text-decoration:none;
	text-shadow:
			1px 1px 0 black,
			1px -1px 0 black,
			-1px 1px 0 black,
			-1px -1px 0 black;
}

ol>li>ul>li>a:hover
{
	text-decoration:underline;
	color:#5a90e8;
}

.burger-nav
{
	display: none;
	height: 35px;
	width: 50px;
	background-image: url("img/burger-nav.png");
	background-repeat: no-repeat;
	float:right;
	position: relative;
	top: 3px;
	right: 1px;
}

p
{
	margin-top:0
}
a
{
	color: #5a90e8;
	text-decoration: none;
}
a:hover
{
	color: #000c39;
	text-decoration: underline;
}

span
{
	font-weight: bold;
}



/* Treść */

#container0
{
	background-image: url("img/JN.JPG");
	background-repeat: no-repeat;
	background-size: 100%;
	/*background-position: center;*/
	height:0px;
	padding-top: 49.48%;
	opacity: 0.9;
	/*padding-top: 100px;*/
	/*margin-left:auto;*/
	/*margin-right:auto;*/
	/*text-align:center;*/
	/*height: auto;*/
}

#container0-2
{
	border-top: 1px black solid;
	padding-top: 100px;
	background-color: whitesmoke;
}

.container-img
{
	background-image: url(img/uslugi-it.jpg);
	border-bottom: 1px black solid;
	border-top: 1px black solid;
	background-size: cover;
	background-attachment: fixed;
	background-color: #10203a;
	text-align:center;
	font-size: 64px;
	margin-left:auto;
	margin-right:auto;
	font-family: 'Courgette';
	text-shadow:
			1px 1px 0 black,
			1px -1px 0 black,
			-1px 1px 0 black,
			-1px -1px 0 black;
	opacity: 0.9;

	padding-top:80px;
	min-height:170px;

}
#container1-2
{
	padding-top: 20px;
	background-color: whitesmoke;
	min-height: 450px;
}
#container2
{

}

#container2-2
{
	padding-top: 100px;
	background-color: whitesmoke;
	min-height: 450px;
}
#container4
{
	background-color: #10203a;
	text-align:center;
	font-size: 64px;
	padding-top:50px;
	min-height:585px;
	font-family: 'Courgette';
	text-shadow:
			1px 1px 0 black,
			1px -1px 0 black,
			-1px 1px 0 black,
			-1px -1px 0 black;

}

#img0
{
    float: left;
	border: solid #000030 1px;
	margin:50px;
	height: 25%;
	width: 25%;
}

.content
{
	width: 75%;
	background-color: whitesmoke;
	color: black;
	text-align: justify;
	padding: 0;
	padding-bottom: 50px;
	min-height: 200px;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
}

.title
{
	font-size: 48px;
	text-align: center;
	margin-top: 0;
	padding-top: 5%;
}

.frontend
{
	height: 17%;
	width: 17%;
	float:left;
	margin: 4%;
    padding: 0;
    transition: transform .5s;
    background-repeat: no-repeat;
}
/*.frontend:first-of-type*/
/*{*/
	/*margin-left:6%;*/
/*}*/

.frontend:hover
{
    transform: scale(1.2);
}

#contact
{
	text-decoration: none;
	cursor:default;
}

.contact_me
{
	font-weight: bold;
	text-shadow: none;
	text-align: center;
	padding: 0 5%;
	padding-top: 8%;
	font-size: 22px;
	font-family: "Lucida Grande";
}

.return
{
	height: 64px;
	width: 64px;
	background-image: url("img/return.png");
	background-repeat: no-repeat;
	position: fixed;
	bottom: 10px;
	right: 10px;
	opacity: 0.95;
}
.return:hover
{
	opacity: 1;
	cursor: pointer;
	transform: scale(1.2);
}


/* MEDIA QUERIES */

@media screen and (max-width: 1080px)
{

	ol>li
	{
		padding: 3px 3%;
		letter-spacing: 0;
	}
	#nav
	{
		padding-left: 4%;
		height: auto;
	}

}
@media screen and (max-width: 1024px)
{
	#nav
	{
		padding-left: 2%;
	}
}

@media screen and (max-width: 982px)
{

	ol>li
	{
		padding: 2px 3%;
		letter-spacing: 0;
	}
}

@media screen and (max-width: 882px)
{
	ol>li
	{
		padding: 2px 2%;
	}
	#img0
	{
		width:40%;
		height: 40%;
	}
}

	/* TABLET */
@media screen and (max-width: 768px)
{
	.title
	{
		font-size: 36px;
	}
	ol{
		float:none;
		clear:both;
	}

	.frontend
	{
		height: 34%;
		width: 34%;
		margin: 8%;
	}

	#nav
	{
		font-size: 18px;
		padding-left: 0;
	}
}

	/* MOBILES */


@media screen and (max-width: 480px)
{
	#container0
	{
		background-image: url("img/JN2.JPG");
		height: 300px;
	}

	#container2-2
	{
		padding-top: 20px;
	}
	ol>li>a
	{
		color: white;
	}
	.title
	{
		font-size: 24px;
	}
	.content
	{
		padding-bottom: 40px;
		min-height: 50px;
	}
	.burger-nav
	{
		display: block;
	}
	#img0
	{
		width: 80%;
		height: 80%;
		float: none;
		clear:both;
		margin: 20px;
	}
	.container-img
	{
		font-size: 45px;
	}

	ol>li
	{
		float: none;
		clear: both;
		text-align: left;
		padding-bottom: 5px;
		border-bottom: 1px black solid;
		display: none;
	}
	ol>li.shown
	{
		display: block;
	}
	ol
	{
		padding-left: 0;
		text-shadow: none;
	}
	#nav
	{
		background-color: #000030;
		position: relative;
	}
	#container0-2
	{
		padding-top: 40px;
	}
	.contact_me
	{
		font-size: 20px;
	}
	.return
	{
		bottom: 0;
		right: -5px;
		opacity: 1;
		transform: scale(0.5, 0.5);
	}
	.return:hover
	{
		transform: scale(0.5);
	}

}
@media screen and (max-width: 320px)
{
	.container-img
	{
		font-size: 45px;
	}
	.content{
		font-size: 20px;
	}
	.contact_me
	{
		font-size: 18px;
	}
}